.App {
  text-align: center;
}

/* HEADER */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* MENU */

.App-menu {
  letter-spacing: 0.3ch;
  background: #ffffff;
  font-size: 1.4rem;
  width: 20%;
  text-align: left;
  margin-left: 1rem;
  height: 80vh;
  overflow-y: auto;
  border-right: 1px solid black;
  word-wrap: break-word;
}

.App-menu h2 {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
}

p {
  width: 12rem;
}

p a {
  color: hsl(250, 30%, 73%);
}

/* CONTENU */

.App-content {
  flex-grow: 2;
  text-align: left;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content div {
  text-align: center;
}

.App-content h3 {
  margin: 2rem;
}

.App-content pre {
  text-align: left;
  display: inline-block;
  margin-top: -1rem;
  padding: 1rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

/* PAGE COMPLETE */

.App-page {
  display: flex;
}
