@import url("./app_mobile.css") (min-width: 320px) and (max-width: 480px);

/* HEADER */
.App-header {
  font-size: calc(10px + 2vmin);
  height: 10rem;
}

/* MENU */

.App-menu {
  letter-spacing: 0.2ch;
  border-right: 1px solid black;
  word-wrap: break-word;
  height: calc(100vh - 10rem);
}

.App-menu h2 {
  font-size: 1.7rem;
}

p {
  width: 12rem;
}

p a {
  color: #aca5cf;
}

/* CONTENU */

.App-content {
  flex-grow: 2;
  text-align: left;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content div {
  text-align: center;
}

.App-content h3 {
  margin: 2rem;
}

.App-content pre {
  text-align: left;
  display: inline-block;
  margin-top: -1rem;
  padding: 1rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

/* PAGE COMPLETE */

.App-page {
  display: flex;
}
