@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

/* PAGE COMPLETE */

.App-page {
  display: flex;
}

/* HEADER */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  height: 10rem;
  width: 100%;
}

@media screen and (max-width: 480px) {
  /*  */
}
/* MENU */

.App-menu {
  letter-spacing: 0.2rem;
  background: #ffffff;
  font-size: 1.4rem;
  min-width: 350px;
  text-align: left;
  margin-left: 1rem;
  height: calc(100vh - 10rem);
  overflow-y: auto;
  border-right: 1px solid black;
}

.App-menu h2 {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
}

p {
  width: 12rem;
}

p a {
  color: #aca5cf;
}

/* CONTENU */

.App-content {
  text-align: left;
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.App-content div {
  text-align: center;
}

.App-content h3 {
  margin: 2rem;
}

.App-content pre {
  text-align: left;
  display: inline-block;
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}
